# macOS
.DS_Store

# ROMs (that you legally own, and didn't just download illegally)
game
rom_tests

# Dependencies
node_modules

# Builds
# book and doc are ignored temporarily until things get figured out
book
doc
target
wasm
