* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	font-family: Montserrat, Avenir Next, sans-serif;
	font-size: 12pt;
	font-weight: 300;
	line-height: 1.5;
}

div,
img,
section {
	display: block;
	margin: 0;
}
section {
	padding: 0.3in 0.4in;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	display: block;
	margin: 0;
	padding: 0.6rem 0 0.1rem;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2.1rem;
}
h3 {
	font-size: 1.8rem;
}
h4 {
	font-size: 1.6rem;
}
h5 {
	font-size: 1.4rem;
}
h6 {
	font-size: 1.2rem;
}
p {
	display: block;
	margin: 0;
	padding: 0.3rem 0;
}
blockquote {
	border-left: 0.3rem solid rgba(158, 156, 195, 0.12);
	border-radius: 4px;
	background-color: rgba(219, 218, 242, 0.15);
	margin: 0.5rem 0;
	padding: 1rem 1.5rem;
}
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
	background-color: rgba(93, 93, 93, 0.29);
	color: rgba(52, 71, 66, 0.71);
}
code,
pre {
	font-size: 0.9em;
}
pre {
	border-left: 0.3rem solid rgba(158, 156, 195, 0.12);
	margin: 0.5rem 0;
	padding: 1rem 1.5rem;
	overflow: auto;
}
code,
pre {
	border-radius: 4px;
	background-color: rgba(219, 218, 242, 0.15);
	font-family: Roboto Mono, monospace;
	font-weight: 300;
}
code {
	padding: 0.01in 0.05in;
}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
	outline: none;
}
textarea {
	display: block;
	resize: vertical;
}
input {
	display: inline-block;
}
input,
textarea {
	background-color: rgba(219, 218, 242, 0.15);
	border: 1px solid rgba(89, 88, 112, 0.71);
	border-radius: 4px;
	color: inherit;
	font-size: 0.9rem;
	padding: 0.6rem;
	margin: 0.6rem 0;
	width: 100%;
}
input:focus,
textarea:focus {
	border: 1px solid #000;
	border: 1px solid var(--accent-color);
}
button,
input[type="button"],
input[type="file"],
input[type="photo"],
input[type="submit"],
select {
	display: inline-block;
	background-color: transparent;
	background-image: linear-gradient(
		0deg,
		rgba(222, 226, 238, 0.5),
		hsla(0, 0%, 100%, 0.5)
	);
	border: 1px solid rgba(89, 88, 112, 0.71);
	border-radius: 4px;
	width: auto;
	font-size: 0.15in;
	padding: 0.6rem;
	margin: 0.6rem 0.6rem 0.6rem 0;
	transition: box-shadow 0.1s ease;
	color: inherit;
	cursor: pointer;
}
button:active,
input[type="button"]:active,
input[type="submit"]:active {
	background-color: hsla(0, 0%, 89.4%, 0.5);
	background-image: none;
	transform: translateY(1px);
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-right-width: 1rem;
}
input[type="color"] {
	height: 39px;
	padding: 5px;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
}
li,
ol,
ul {
	padding: 0.1in;
}
li * {
	vertical-align: middle;
	margin: 0;
}
a {
	text-decoration: none;
	color: #000;
	color: var(--accent-color);
	font-weight: 500;
}
a:hover {
	text-decoration: underline;
}
a:active {
	transform: translateY(2px);
}
input[type="checkbox"],
input[type="radio"] {
	-webkit-appearance: initial;
	vertical-align: middle;
	background-color: hsla(0, 0%, 72.9%, 0.5);
	border: 1px solid rgba(89, 88, 112, 0.71);
	border-radius: 15px;
	margin: 0.6rem 0;
	padding: 0;
	height: 30px;
	width: auto;
}
input[type="checkbox"] {
	padding-right: 2rem;
	transition: padding 0.2s, background-color 0.3s;
}
input[type="checkbox"]:checked {
	background-color: #000;
	background-color: var(--accent-color);
	padding-left: 2rem;
	padding-right: 0;
	filter: contrast(150%);
}
input[type="checkbox"]:after {
	content: "";
	display: inline-block;
	background-color: #f6f6f6;
	border-radius: 14px;
	padding: 14px;
}
input[type="radio"] {
	transition: background-color 0.3s;
}
input[type="radio"]:checked {
	background-color: #000;
	background-color: var(--accent-color);
	filter: contrast(150%);
}
input[type="radio"]:after {
	content: "";
	display: inline-block;
	border: 7px solid #f6f6f6;
	border-radius: 40px;
	padding: 7px;
}
input + label {
	margin: 0.6rem;
}
