@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Roboto+Mono:300,300i,400,400i,500,500i,700,700i");

body {
	background-color: black;
	min-height: unset; /* Oui...sucks sometimes. */
}

#overlay-container {
	position: fixed;
	left: 4vh;
	top: 3vh;
}

#overlay {
	width: 5.8in;
	height: 2.1in;

	background-color: #13232a;
	border-radius: 14px;
	color: white;

	opacity: 0.6;
	transition: opacity, height 200ms;

	overflow: hidden;
}

#overlay:hover {
	height: 90vh;
	opacity: 1;
	overflow: scroll;
}

#overlay a {
	color: #2c6253;
}

#overlay a#kayla-link {
	color: white;
}

#overlay button {
	background-color: darkslategray;
}

#display {
	border: solid 3px lavender;
	border-radius: 7px;
	display: block;
	height: 92vh;
	max-height: calc(92vw / 1.5);
	width: 92vw;
	max-width: calc(92vh * 1.5);
	margin: auto;
	margin-top: 4vh;
}

#status {
	width: 4.85in;
}

.register-label {
	float: left;
}

.internal {
	display: inline-block;
	background-color: darkslategray;
	padding: 6px 8px;
	margin: 0 7px 10px 0;
	border-radius: 4px;
	text-align: right;
	font-family: Roboto Mono, monospace;
	font-size: 0.9em;
}

.register {
	width: 7.7em;
}
